body {
  font-family: sans-serif;
  font-size: 90%;
}
h1 {
  font-size: 140%;
}
h2 {
  font-size: 110%;
  margin-top: 0;
}
.flash-error {
  border: 1px solid red;
  padding: 0.5em;
  margin-bottom: 1em;
  font-weight: bold;
  color: red;
  background-color: lighten(red, 45%);
}

$calc_width: 340px;
#calculator {
  border: 1px solid #999;
  padding: 4px;
  width: $calc_width;
  margin-bottom: 1em;
  float: left;
  .value {
    border: 1px solid black;
    background-color: #FF9;
    padding: 4px;
    width: $calc_width - 10px;
    text-align: right;
    margin-bottom: 5px;
  }
  label {
    width: 120px;
    display: block;
    float: left;
    clear: left;
  }
  .actions {
    margin-left: 120px;
  }
  input[type=text] {
    width: 112px;
    text-align: right;
  }
  ul.history {
    list-style: none;
    margin: -5px 0 0.5em 0;
    overflow: hidden;
    background-color: #DDD;
    li {
      text-align: right;
      color: #333;
      font-size: 85%;
      padding-right: 5px;
    }
  }
  .actions, .operations {
    input[type=submit], button {
      width: 35px;
      margin: 0 10px 10px 0;
    }
  }
  #numbers-container {
    .buttons {
      width: 180px;
      margin-left: 120px;
    }
    button {
      width: 50px;
      margin: 0 10px 10px 0;
      &:last-child {
        width: 170px;
      }
    }
  }
}

#memory-bank {
  margin-left: $calc_width + 40px;
  border: 1px solid #999;
  background-color: #EEE;
  width: 200px;
  padding: 10px;
  p {
    font-size: 80%;
    color: #666;
  }
  &.active-for-drop {
    background-color: #FFD;
  }
  &.hover-for-drop {
    background-color: #FF0;
  }
}

.home-links {
  clear: left;
}

#dialog-confirm {
  display: none;
  font-size: 75%;
}