<h1>Full stack integration test example project</h1>

<p>One of the problems I’ve had for a while now is figuring out what stack to use for my testing, both for my back end code (unit &amp; integration) as well as my front end code (unit &amp; integration).  So I set about on a journey in April 2011 to find the best full stack integration components for a Rails project and document it for others to use.

This simple Calculator application which has both back end and front end functionality was used to experiment with different testing frameworks and techniques.  The journey and result is described in my blog post on <a href="http://blog.mattheworiordan.com/post/4701529828/full-stack-integration-testing-with-rails-3-cucumber">Full stack integration testing with Rails 3, Cucumber, RSpec, QUnit and Capybara</a>
</p>

<p>Get in touch with <a href="http://mattheworiordan.com">Matthew O'Riordan</a> if you have any questions or comments.</p>

<p><%= link_to 'Use the calculator >>', calculator_path %></p>