<!DOCTYPE html>
<html>
<head>
  <title>FullStackIntegrationTesting</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'vendor/jquery-1.5.2', 'vendor/rails', 'vendor/jquery-ui-1.8.11.custom.min' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
